@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;500&display=swap");
/* DEFAULTS */
:root {
  --textStandard: #343434;
  --pinkDark: #f582ae;
  --pinkLight: #ffe9ed;
  --blueDark: #001858;
  --blueLight: #8bd3dd;
  --background: #fbfbfb;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 300;
}

body {
  background-color: var(--background);
  color: var(--textStandard);
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bodyWrapper {
  margin: 1rem auto 6rem;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 18px;
  }
}

/* FONT / LINKS */

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  margin: 1rem 0 0;
}

h1,
h2,
h4 {
  font-weight: 500;
}

a,
.blogList a.linkStyle {
  color: var(--textStandard);
  text-decoration: none;
  border-bottom: 2px solid var(--pinkDark);
  padding-bottom: 2px;
  transition: all 0.5s ease;
}

a:hover,
a.linkStyle:hover {
  border-bottom: 2px solid var(--blueLight);
}

/* NAVIGATION */

nav {
  margin: 1.5rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 0.5rem;
}

nav a {
  font-size: 1rem;
  border-bottom: 0;
  transition: none;
}

@media only screen and (min-width: 890px) {
  nav ul {
    justify-content: flex-end;
  }

  nav li {
    margin: 0 1rem;
  }

  nav a {
    font-size: 1.2rem;
  }
}

/* HEADER */

header {
  padding-bottom: 1rem;
}

.headerWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerImage {
  padding-right: 1rem;
  width: 3rem;
}

.headerTitle {
  display: flex;
  position: relative;
}

.headerTitle > a {
  border: 0;
}

@media only screen and (min-width: 890px) {
  header {
    padding-bottom: 0.5rem;
  }
}

/* FOOTER */

footer {
  max-width: 66rem;
  margin: 0 auto;
}

.footerTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerImageLeft {
  width: 4rem;
}

.footerImageRight {
  width: 7rem;
}

.footerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.footerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.footerRight div {
  text-align: right;
}

.footerRight ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footerRight li {
  margin: 0 1rem;
}

.footerBottom {
  margin-top: 3rem;
  text-align: center;
}

@media only screen and (min-width: 890px) {
  .footerTop {
    flex-direction: row;
  }

  .footerLeft {
    align-items: end;
    flex-direction: row;
    margin-top: 0;
  }

  .footerRight {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: row;
  }

  .footerImageLeft {
    margin-right: 1rem;
  }
}

/* BLOG */

.blogList {
  margin-bottom: 2rem;
}

.blogList a {
  border: 0;
  transition: none;
}

.postList {
  list-style: none;
  padding-left: 0;
}

.postList li {
  background-color: #fff;
  border: 1px solid #eaeaea;
  height: min-content;
  margin: 1rem 0;
  min-width: 13rem;
  padding: 0 1.5rem;
}

.postList img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  margin-top: 1rem;
}

.postList h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.postList small {
  border-top: 1px solid #c2c2c2;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
}

.blogLink {
  margin-top: 2rem;
}

code {
  white-space: pre-wrap;
}

.dateTime {
  margin-top: 3rem;
}

/* MAIN */

.mainArea .blogList li {
  margin: 1rem 0;
}

.aboutImageWrapper {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  flex-direction: row;
}

.imageHalf {
  width: 49%;
  display: inline-block;
}

/* QUOTE SECTION OF FOOTER  */

.quoteWrapper img {
  width: 4rem;
}

/* NEW */
.contentArea {
  max-width: 42rem;
  margin: 0 auto;
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 890px) {
  main {
    padding: 1rem 1rem 3rem;
  }
}

.profileImage {
  border-radius: 50%;
  width: 20rem;
  max-width: 100%;
  margin-bottom: 1rem;
}

.intro h2 {
  font-weight: 500;
  max-width: 80%;
  margin: 1rem auto;
}

.aboutWork {
  margin-top: 3rem;
}

.sidebarImage {
  margin-top: 2rem;
  max-width: 5rem;
}

/* EMOJIS ON HOVER */
.sidebarImageWrapper {
  margin: 0 auto;
  position: relative;
  width: min-content;
}

.sidebarIcon {
  bottom: 0;
  position: absolute;
  right: 1.75rem;
  width: 3rem;
}

.sidebarEmoji {
  display: none;
  font-size: 2rem;
  position: absolute;
  top: -2rem;
  left: 0;
}

.profileImage:hover + .sidebarEmoji,
.mainHeading:hover + .headingEmoji {
  display: block;
}

.headingEmoji {
  display: none;
  font-size: 1.5rem;
  position: absolute;
  top: 0.25rem;
  right: -2rem;
}

.imageGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.galleryImage {
  max-width: 40%;
  margin: 0.5rem;
}
@media only screen and (min-width: 890px) {
  .galleryImage {
    max-width: 10rem;
  }
}

.imageGallery a {
  border: 0;
  display: contents;
}

.aboutImage {
  border-radius: 50%;
  max-width: 15rem;
}

.aboutMe {
  text-align: center;
}

.aboutMe p,
.aboutMe h2 {
  text-align: left;
}

@media only screen and (min-width: 690px) {
  .aboutImage {
    float: right;
    padding: 0 0 1rem 1rem;
  }
}
