:root {
  --textStandard: #575656;
  --pinkDark: #f582ae;
  --pinkLight: #ffe9ed;
  --blueDark: #001858;
  --blueLight: #8bd3dd;
  line-height: 1.6;
  font-size: 18px;
}
body {
  background-color: #fbfbfb;
  color: var(--textStandard);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bodyWrapper {
  margin: 1rem auto 6rem;
  max-width: 66rem;
  padding: 0 1rem;
}

/* FONT / LINKS */

h1,
h2,
h4 {
  font-weight: 800;
}
h1 {
  font-size: 2rem;
  margin: 0;
}

.headerLink,
.headerLink:hover {
  border: 0;
}

a {
  color: var(--textStandard);
  text-decoration: none;
  border-bottom: 2px solid var(--pinkDark);
  transition: all 0.5s ease;
}

a:hover {
  border-bottom: 2px solid var(--blueLight);
}

nav a:hover,
.blogList a:hover {
  border-bottom: 2px solid var(--blueLight);
}

a {
  text-decoration: none;
  border-bottom: 2px solid var(--pinkDark);
  transition: all 0.5s ease;
}

a:hover {
  border-bottom: 2px solid var(--blueLight);
  text-decoration: none;
}

/* NAVIGATION */

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}

nav li {
  margin: 0 1.5rem;
}

nav a {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 0;
  transition: none;
}

/* HEADER */

header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #a6a3a3;
}

header p {
  font-family: "Merriweather", serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 0.5rem;
}

.headerWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* .headerImageWrapper {
  width: 36%;
} */

.headerImage {
  padding-right: 1rem;
  /* padding-top: 1.2rem; */
  width: 3rem;
}

.headerTitle {
  align-items: center;
  display: flex;
}

/* FOOTER */

.footerTop {
  display: flex;
  justify-content: space-between;
}

.footerImageLeft {
  width: 4rem;
  margin-right: 1rem;
}

.footerImageRight {
  width: 7rem;
}

.footerLeft {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.footerRight {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.footerRight div {
  text-align: right;
}

.footerRight ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footerRight li {
  margin-left: 1.5rem;
}

.footerBottom {
  margin-top: 3rem;
  text-align: center;
}

/* BLOG */

.blogIntro,
.mainArea {
  font-size: 1.2rem;
  margin: 6rem 0;
  max-width: 37rem;
}

.blogIntro h2 {
  font-weight: 800;
}

.blogList a {
  border: 0;
  transition: none;
}

.postList,
.postListFull {
  list-style: none;

  padding-left: 0;
}

.postList {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
}

.postList li,
.postListFull li {
  background-color: #fff;
  border: 1px solid #eaeaea;
  height: min-content;
  margin: 1rem 0;
  min-width: 18rem;
}

.postList li.spanDouble {
  grid-row: span 2;
}

.postList img,
.postListFull img {
  width: 100%;
  height: 46%;
  object-fit: cover;
}

.postList p,
.postList h4,
.postListFull p,
.postListFull h4 {
  padding: 0 2rem 1rem;
}

.postList h4,
.postListFull h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.postList small,
.postListFull small {
  border-top: 1px solid #c2c2c2;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
}

.mainArea .blogList li {
  margin: 1rem 0;
}

.mainArea {
  margin: 6rem auto;
}

.blogLink {
  text-align: center;
}
