---
layout: layouts/base.njk
permalink: /
---
<section class="blogIntro">
<h2>confectioner turned front-end web dev.</h2>
<p>Hello, I’m Taryn! 👋</p>
<p> I’m currently working as a software engineer at Atlassian in Australia. I’m passionate about inclusion and that often translates to mentoring students and encouraging people to make career changes!</p>


<a href="/about">Learn more about me →</a>
</section>
<section class="blogList">
  {% set postslist = collections.posts %}
  {% include "postslistSmall.njk" %}
  
</section>
<section class="blogLink">
  <a href="/blog">Read more blog posts →</a>
</section>
