---
layout: layouts/base.njk
permalink: /
title: Home
---
<section class="blogList mainColumn">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
{% include "sidebar.njk" %}
