---
layout: layouts/base.njk
permalink: /
title: Home
---
<div class="contentArea">
  <section class="intro">
      <img src="/images/profile.jpeg" alt="Photo of Taryn with her two samoyed dogs" class="profileImage"/>
      <p class="sidebarEmoji">✨</p>
    <h2>confectioner turned front-end web dev.</h2>
    <p>Hello, I’m Taryn! 👋</p>
    <p>I’m currently working as a software engineer at Atlassian in Australia.</p>
    <p>I’m passionate about inclusion and that often translates to mentoring students and encouraging people to make career changes!</p>
    <p>This site is my little home on the internet. It changes regularly with my mood and may contain a mix of tech and personal stories.</p>
    <p><a href="/about">Learn more about me →</a></p>
    <img src="/images/heart.png" alt="A geometric heart that Taryn created with CSS" class="sidebarImage"/>
  </section>
</div>
 <section class="imageGallery">
    <a href="https://www.instagram.com/p/CcGvsEth6pQ/"><img src="/images/gallery/dress.jpg" alt="Taryn standing in the first dress she ever sewed" class="galleryImage"/></a>
    <a href="https://www.instagram.com/p/CT8SmIKh604/"><img src="/images/gallery/lexi.jpg" alt="Lexi the Samoyed dog sitting happily by a garden" class="galleryImage"/></a>
    <a href="https://www.instagram.com/p/CbysDXDvb6B/"><img src="/images/gallery/macbook.jpg" alt="Taryn's desk set up" class="galleryImage"/></a>
    <a href="https://www.instagram.com/p/CFx5GNTA0oP/"><img src="/images/gallery/sydcsscake.jpg" alt="A cake Taryn made to celebrate the meetup SydCSS's birthday" class="galleryImage"/></a>
    <a href="https://www.instagram.com/p/CcUAC65PuMM/"><img src="/images/gallery/sprite.jpg" alt="Sprite the Samoyed puppy looking directly at the camera" class="galleryImage"/></a>
    <a href="https://www.instagram.com/p/CcWrSBpPOFv/"><img src="/images/gallery/jumper.jpg" alt="Taryn sitting on the floor wearing the first jumper she ever sewed. Lexi the samoyed dog is laying on the floor behind her." class="galleryImage"/></a>
  </secion>