{% set pages = collections.pages %}
<nav>
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    {% for page in pages %}
      <span>-</span>
      <li><a href="{{page.data.permalink}}">{{page.data.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
