{% set pages = collections.pages %}
<nav>
  <ul class="navigation">
    {% for page in pages %}
      <li><a href="{{page.data.permalink}}">{{page.data.title}}</a></li>
    {% endfor %}
    <li><a href="/">Blog</a></li>
  </ul>
</nav>
