<ul class="postListFull">
  {% for post in postslist | reverse %}
    <li class={{ "spanDouble" if post.data.featuredImage else "" }}>
      {% if post.data.featuredImage %}
      <a href="{{ post.url | url }}"><img src="{{post.data.featuredImage | url}}" alt="{{post.data.description}}" /></a>
      {% endif %}
      <h4>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h4>
      <a href="{{ post.url | url }}"><p>{{ post.data.description }}</p></a>
      <p><small><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small></p>
    </li>
  {% endfor %}
</ul>
