<html lang="en">
  <head>
    <title>Taryn Ewens: Front-End Web Developer</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <meta
      name="description"
      content="A portfolio site for Taryn Ewens, Front-End Web Developer in Sydney, Australia."
    />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <body>
    <div class="bodyWrapper">
      <header>
        <div class="headerWrapper">
          <div class="headerTitle">
            {# <img src="/images/plant2.png" alt="Pot plant created with CSS" class="headerImage"/> #}
            <a href="/" class="headerLink">
              <h1>Taryn Ewens</h1>
            </a>
          </div>
          {% include "navigation.njk" %}
        </div>
        
      </header>
      <main class={{title}}>
        {{ content | safe }}
      </main>
      <footer>
        <div class="footerTop">
          <div class="footerLeft">
            <img src="/images/plant1.png" alt="Pot plant created with CSS" class="footerImageLeft"/>
            <p><a href="mailto:hello@tarynewens.com">hello@tarynewens.com</a></p>
          </div>
          <div class="footerRight">
          <div>
          <ul class="socials">
            <li><a href="https://twitter.com/TarynEwens">Twitter</a></li>
            <li><a href="https://www.instagram.com/tarynewens/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/tarynewens/">LinkedIn</a></li>
          </ul>
          </div>
            <img src="/images/plant2.png" alt="Pot plant created with CSS" class="footerImageRight"/>
          </div>
        </div>
        <div class="footerBottom">
          <div class="quoteWrapper">
            {% include "quotes.njk" %}
            <img src="/images/profile.png" alt="CSS avatar of Taryn and her dog" id="profilePic"/>
            <p><small>Designed and built by me! An experiment with 11ty and Netlify CMS.</small></p>

          </div>
        </div>
      </footer>
    </div>
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
    <script type="text/javascript" src="/data/quotes.js"></script>
  </body>

</html>