---
layout: layouts/base.njk
---
<section class="contentArea">
  <p>{{ date | readableDate }}</p>
  <h2>{{ title }}</h2>
  <img src="{{ featuredImage | url }}" alt="{{ featuredImage }}"></img>
  <p>{{ content | safe }}</p>
</section>